.main-logo {
  width: 300px;
}

.logo-wrapper {
  margin-left: 45px;
}

.banner-text {
  font-family: "Comic Sans MS";
  font-size: 64px;
  text-align: center;
  color: #009940;
}

.full-screen {
  min-height: 200px;
}
