<div class="p-grid">
  <div class="p-col-3">
    <a href="/" class="logo-wrapper">
      <img src="assets/very_good_logo.png" class="main-logo"/>
    </a>
  </div>
  <div class="p-col">
    <div class="banner-text">
      presents: The File Ripper
    </div>
  </div>
</div>
<div class="p-grid">
  <div class="p-col-6 p-grid full-screen">
    <div class="p-col-6">
      <p-dropdown [options]="fileTypes" [(ngModel)]="fileType"></p-dropdown>
    </div>
    <div class="p-col-6">
      <span class="ui-float-label">
        <input id="file-name" type="text" size="30" pInputText>
        <label for="file-name">File Name</label>
      </span>
    </div>
  </div>
  <div class="p-col">
    <div style="background-color: orange" class="full-screen"></div>
  </div>
</div>
<router-outlet></router-outlet>
